<header class="px-4 py-2 pr-12 flex justify-between bg-zinc-600">
      <div class="align-middle text-xl text-white font-medium">Bienvenido {{ user.nombre }}</div>

    <!-- Contenedor botones -->
    <div class="flex gap-3">
        <button class="px-2 text-sm text-white rounded-xl border-2 border-white hover:bg-white hover:border-blue-500 hover:text-blue-500"
        *ngIf="user.admin" routerLink="menu">
            Regresar al Menu
        </button>
        <button class="px-2 text-sm text-red-300 border-2 border-red-300 rounded-full hover:bg-red-500 hover:text-white hover:border-white"
         (click)="logOut()">
            Cerrar Sesión
        </button>
    </div>
</header>
